{#<div class="container">#}
{{ title_suffix }}
    <div class="row">
        <div class="col-md-12">
            {{ content.header }}
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-12 col-md-6" data-aos="fade-right">
            {{ content.row1left }}
        </div>
        <div class="col-sm-12 col-md-6" data-aos="fade-left">
            {{ content.row1right }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-aos="fade-up">
            {{ content.row2 }}
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-12 col-md-6" data-aos="fade-right">
            {{ content.row3left }}
        </div>
        <div class="col-sm-12 col-md-6" data-aos="fade-left">
            {{ content.row3right }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-aos="fade-up">
            {{ content.row4 }}
        </div>
    </div>
{#</div>#}